<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Casa do Código</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width"> 
    </head>

    <body>    
        <h1>Listagem de livros - Casa do código</h1>

        <table>
            <tr>
                <td>ID</td>
                <td>Título</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Fundamentos de Node</td>
            </tr>
        </table>
    </body>
</html>